{% extends "base.html" %}

{% block title %}Articles{% endblock title %}

{% block content%}
{% for article in article_list %}
<div class="card">
    <div class="card-header">
        <span>
            <a href="{% url 'article_detail' article.pk %}" class="btn btn-outline-dark" button type="button">
                {{ article.title }}</a></span> &middot;
        <span class="text-muted">by {{ article.author }} |
            {{ article.date }}</span>
    </div>
    <div class="card-body">
        <p>{{ article.body }}</p>
        <a href="{% url 'article_edit' article.pk %}" button type="button" class="btn btn-outline-info">Edit</a> |
        <a href="{% url 'article_delete' article.pk %}" button type="button" class="btn btn-outline-danger">Delete</a>
    </div>
    <div class="card-footer">
        {% for comment in article.comment_set.all %}
        <p>
            <span class="front-weight-bold">
                {{ comment.author}} &middot;
            </span>
            {{ comment}}
        </p>
        {% endfor %}
    </div>
</div>
<br />
{% endfor%}
{% endblock content%}